<h1>This is a contact page</h1>


<!-- app/views/pages/contact.html.erb -->
<form action="/contact" method="get">
  <input type="text"
  name="member"
  value="<%= params[:member] %>"
  placeholder="Who are you looking for?"
  >
  <input type="submit">
</form>

<% @members.each do |member| %>
<%= member %>
<% end %>


<% link_to "Go back home", root_path%>
