

<!---->
<p> <%= link_to "Contact page", contact_path %> </p>
<p> <%=  link_to "About page", about_path %> </p>
<br>
<!---->

<br>
<br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4QreGo9Ivksjv4c3Bnk5f3?utm_source=generator&theme=0" width="100%" height="272" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<br>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0WfOuXw05LJq4ik1lVvTzi?utm_source=generato&theme=0" width="100%" height="272" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<br>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4MTfvOrmGy9uiiPZrW55LY?utm_source=generator&theme=0" width="100%" height="272" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<br>
<br>
<iframe width="100%" height="272" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1351563160&color=%23282828&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;background-color:black"><a href="https://soundcloud.com/johnbonjorno" title="JOHN BONJORNO" target="_blank" style="color: #cccccc; text-decoration: none;">JOHN BONJORNO</a> · <a href="https://soundcloud.com/johnbonjorno/dj-bruder-forever-bb" title="DJ BRUDER - FOREVER bb" target="_blank" style="color: #cccccc; text-decoration: none;">DJ BRUDER - FOREVER bb</a></div>
<br>
<br>
<iframe width="100%" height="272" src="https://www.youtube.com/embed/s-hZseeHbCk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<iframe width="100%" height="272" scrolling="no" frameborder="no" style="filter: invert(1) hue-rotate(180deg);" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1351563160&color=%23282828&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>

<br>
<br>
<div style="position: relative;">
  <iframe width="100%" height="272" scrolling="no" frameborder="no" style="filter: invert(1) hue-rotate(180deg);" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1351563160&color=%23282828&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>
  <img src="../../../app/assets/images/album-art.png" style="position: absolute; top: 20px; left: 20px; width: 50px; height: 50px;">
</div>
